<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>emojiDes</key>
		<string>[微笑]</string>
		<key>imageName</key>
		<string>emoji_1</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[呲牙]</string>
		<key>imageName</key>
		<string>emoji_2</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[色]</string>
		<key>imageName</key>
		<string>emoji_3</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[发呆]</string>
		<key>imageName</key>
		<string>emoji_4</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[可怜]</string>
		<key>imageName</key>
		<string>emoji_5</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[流泪]</string>
		<key>imageName</key>
		<string>emoji_6</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[害羞]</string>
		<key>imageName</key>
		<string>emoji_7</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[闭嘴]</string>
		<key>imageName</key>
		<string>emoji_8</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[睡]</string>
		<key>imageName</key>
		<string>emoji_9</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[吃瓜群众]</string>
		<key>imageName</key>
		<string>emoji_10</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[尴尬]</string>
		<key>imageName</key>
		<string>emoji_11</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[发怒]</string>
		<key>imageName</key>
		<string>emoji_12</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[调皮]</string>
		<key>imageName</key>
		<string>emoji_13</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[撇嘴]</string>
		<key>imageName</key>
		<string>emoji_14</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[思考]</string>
		<key>imageName</key>
		<string>emoji_15</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[不失礼貌的微笑]</string>
		<key>imageName</key>
		<string>emoji_16</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[奸笑]</string>
		<key>imageName</key>
		<string>emoji_17</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[抓狂]</string>
		<key>imageName</key>
		<string>emoji_18</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[吐]</string>
		<key>imageName</key>
		<string>emoji_19</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[偷笑]</string>
		<key>imageName</key>
		<string>emoji_20</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[愉快]</string>
		<key>imageName</key>
		<string>emoji_21</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[白眼]</string>
		<key>imageName</key>
		<string>emoji_22</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[傲慢]</string>
		<key>imageName</key>
		<string>emoji_23</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[困]</string>
		<key>imageName</key>
		<string>emoji_24</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[灵光一现]</string>
		<key>imageName</key>
		<string>emoji_25</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[流汗]</string>
		<key>imageName</key>
		<string>emoji_26</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[憨笑]</string>
		<key>imageName</key>
		<string>emoji_27</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[捂脸]</string>
		<key>imageName</key>
		<string>emoji_28</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[奋斗]</string>
		<key>imageName</key>
		<string>emoji_29</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[咒骂]</string>
		<key>imageName</key>
		<string>emoji_30</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[疑问]</string>
		<key>imageName</key>
		<string>emoji_31</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[嘘]</string>
		<key>imageName</key>
		<string>emoji_32</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[晕]</string>
		<key>imageName</key>
		<string>emoji_33</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[衰]</string>
		<key>imageName</key>
		<string>emoji_34</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[骷髅]</string>
		<key>imageName</key>
		<string>emoji_35</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[敲打]</string>
		<key>imageName</key>
		<string>emoji_36</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[再见]</string>
		<key>imageName</key>
		<string>emoji_37</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[擦汗]</string>
		<key>imageName</key>
		<string>emoji_38</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[抠鼻]</string>
		<key>imageName</key>
		<string>emoji_39</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[泣不成声]</string>
		<key>imageName</key>
		<string>emoji_40</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[坏笑]</string>
		<key>imageName</key>
		<string>emoji_41</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[左哼哼]</string>
		<key>imageName</key>
		<string>emoji_42</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[右哼哼]</string>
		<key>imageName</key>
		<string>emoji_43</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[打哈欠]</string>
		<key>imageName</key>
		<string>emoji_44</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[鄙视]</string>
		<key>imageName</key>
		<string>emoji_45</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[委屈]</string>
		<key>imageName</key>
		<string>emoji_46</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[快哭了]</string>
		<key>imageName</key>
		<string>emoji_47</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[摸头]</string>
		<key>imageName</key>
		<string>emoji_48</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[阴险]</string>
		<key>imageName</key>
		<string>emoji_49</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[亲亲]</string>
		<key>imageName</key>
		<string>emoji_50</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[机智]</string>
		<key>imageName</key>
		<string>emoji_51</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[得意]</string>
		<key>imageName</key>
		<string>emoji_52</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[大金牙]</string>
		<key>imageName</key>
		<string>emoji_53</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[拥抱]</string>
		<key>imageName</key>
		<string>emoji_54</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[大笑]</string>
		<key>imageName</key>
		<string>emoji_55</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[送心]</string>
		<key>imageName</key>
		<string>emoji_56</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[震惊]</string>
		<key>imageName</key>
		<string>emoji_57</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[酷拽]</string>
		<key>imageName</key>
		<string>emoji_58</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[尬笑]</string>
		<key>imageName</key>
		<string>emoji_59</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[大哭]</string>
		<key>imageName</key>
		<string>emoji_60</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[哭笑]</string>
		<key>imageName</key>
		<string>emoji_61</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[做鬼脸]</string>
		<key>imageName</key>
		<string>emoji_62</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[红脸]</string>
		<key>imageName</key>
		<string>emoji_63</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[鼓掌]</string>
		<key>imageName</key>
		<string>emoji_64</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[恐惧]</string>
		<key>imageName</key>
		<string>emoji_65</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[斜眼]</string>
		<key>imageName</key>
		<string>emoji_66</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[嘿哈]</string>
		<key>imageName</key>
		<string>emoji_67</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[惊讶]</string>
		<key>imageName</key>
		<string>emoji_68</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[绝望的凝视]</string>
		<key>imageName</key>
		<string>emoji_69</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[囧]</string>
		<key>imageName</key>
		<string>emoji_70</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[皱眉]</string>
		<key>imageName</key>
		<string>emoji_71</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[耶]</string>
		<key>imageName</key>
		<string>emoji_72</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[石化]</string>
		<key>imageName</key>
		<string>emoji_73</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[我想静静]</string>
		<key>imageName</key>
		<string>emoji_74</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[吐血]</string>
		<key>imageName</key>
		<string>emoji_75</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[互粉]</string>
		<key>imageName</key>
		<string>emoji_76</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[互相关注]</string>
		<key>imageName</key>
		<string>emoji_77</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[加好友]</string>
		<key>imageName</key>
		<string>emoji_78</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[强]</string>
		<key>imageName</key>
		<string>emoji_79</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[钱]</string>
		<key>imageName</key>
		<string>emoji_80</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[飞吻]</string>
		<key>imageName</key>
		<string>emoji_81</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[打脸]</string>
		<key>imageName</key>
		<string>emoji_82</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[惊恐]</string>
		<key>imageName</key>
		<string>emoji_83</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[悠闲]</string>
		<key>imageName</key>
		<string>emoji_84</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[泪奔]</string>
		<key>imageName</key>
		<string>emoji_85</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[舔屏]</string>
		<key>imageName</key>
		<string>emoji_86</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[紫薇别走]</string>
		<key>imageName</key>
		<string>emoji_87</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[听歌]</string>
		<key>imageName</key>
		<string>emoji_88</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[难过]</string>
		<key>imageName</key>
		<string>emoji_89</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[生病]</string>
		<key>imageName</key>
		<string>emoji_90</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[绿帽子]</string>
		<key>imageName</key>
		<string>emoji_91</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[如花]</string>
		<key>imageName</key>
		<string>emoji_92</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[惊喜]</string>
		<key>imageName</key>
		<string>emoji_93</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[吐彩虹]</string>
		<key>imageName</key>
		<string>emoji_94</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[吐舌]</string>
		<key>imageName</key>
		<string>emoji_95</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[无辜呆]</string>
		<key>imageName</key>
		<string>emoji_96</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[看]</string>
		<key>imageName</key>
		<string>emoji_97</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[白眼的狗]</string>
		<key>imageName</key>
		<string>emoji_98</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[黑脸]</string>
		<key>imageName</key>
		<string>emoji_99</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[猪头]</string>
		<key>imageName</key>
		<string>emoji_100</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[熊吉]</string>
		<key>imageName</key>
		<string>emoji_101</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[不看]</string>
		<key>imageName</key>
		<string>emoji_102</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[玫瑰]</string>
		<key>imageName</key>
		<string>emoji_103</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[凋谢]</string>
		<key>imageName</key>
		<string>emoji_104</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[嘴唇]</string>
		<key>imageName</key>
		<string>emoji_105</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[爱心]</string>
		<key>imageName</key>
		<string>emoji_106</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[心碎]</string>
		<key>imageName</key>
		<string>emoji_107</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[赞]</string>
		<key>imageName</key>
		<string>emoji_108</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[弱]</string>
		<key>imageName</key>
		<string>emoji_109</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[握手]</string>
		<key>imageName</key>
		<string>emoji_110</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[ok]</string>
		<key>imageName</key>
		<string>emoji_111</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[谢谢]</string>
		<key>imageName</key>
		<string>emoji_112</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[比心]</string>
		<key>imageName</key>
		<string>emoji_113</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[碰拳]</string>
		<key>imageName</key>
		<string>emoji_114</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[击掌]</string>
		<key>imageName</key>
		<string>emoji_115</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[左]</string>
		<key>imageName</key>
		<string>emoji_116</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[右]</string>
		<key>imageName</key>
		<string>emoji_117</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[力量]</string>
		<key>imageName</key>
		<string>emoji_118</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[胜利]</string>
		<key>imageName</key>
		<string>emoji_119</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[抱拳]</string>
		<key>imageName</key>
		<string>emoji_120</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[勾引]</string>
		<key>imageName</key>
		<string>emoji_121</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[拳头]</string>
		<key>imageName</key>
		<string>emoji_122</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[庆祝]</string>
		<key>imageName</key>
		<string>emoji_123</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[礼物]</string>
		<key>imageName</key>
		<string>emoji_124</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[红包]</string>
		<key>imageName</key>
		<string>emoji_125</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[18禁]</string>
		<key>imageName</key>
		<string>emoji_126</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[去污粉]</string>
		<key>imageName</key>
		<string>emoji_127</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[666]</string>
		<key>imageName</key>
		<string>emoji_128</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[给力]</string>
		<key>imageName</key>
		<string>emoji_129</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[v5]</string>
		<key>imageName</key>
		<string>emoji_130</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[菜刀]</string>
		<key>imageName</key>
		<string>emoji_131</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[炸弹]</string>
		<key>imageName</key>
		<string>emoji_132</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[便便]</string>
		<key>imageName</key>
		<string>emoji_133</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[月亮]</string>
		<key>imageName</key>
		<string>emoji_134</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[太阳]</string>
		<key>imageName</key>
		<string>emoji_135</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[发]</string>
		<key>imageName</key>
		<string>emoji_136</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[黄瓜]</string>
		<key>imageName</key>
		<string>emoji_137</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[西瓜]</string>
		<key>imageName</key>
		<string>emoji_138</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[啤酒]</string>
		<key>imageName</key>
		<string>emoji_139</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[咖啡]</string>
		<key>imageName</key>
		<string>emoji_140</string>
	</dict>
	<dict>
		<key>emojiDes</key>
		<string>[蛋糕]</string>
		<key>imageName</key>
		<string>emoji_141</string>
	</dict>
</array>
</plist>
